RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ api/handler.php [QSA,L]

<Files ~ "\.(db|db-shm|db-wal)$">
  Order allow,deny
  Deny from all
</Files>
